@tailwind base;
@import '../assets/base.css';
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  background-color: white;
   font-family: 'Poppins', sans-serif;
}

/* this ccs for edit profile */
.no-border {
  border: none !important;
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

.details-page .swiper-pagination-bullet {
  opacity: 80 !important;
  background-color: white !important;
}

.details-page .swiper-pagination-bullet-active {
  width: 20px !important;
  border-radius: 4px !important;
  background-color: #fccf12 !important;
}
.modal-card .swiper-pagination-bullet {
  opacity: 80 !important;
  background-color: white !important;
}

.modal-card .swiper-pagination-bullet-active {
  width: 20px !important;
  border-radius: 4px !important;
  background-color: #fccf12 !important;
}

.react-datepicker__input-container input {
  padding: 3px !important;
  background-color: white !important;
}
.react-datepicker__input-container input:focus {
  outline: none !important;
}

@media screen and (max-width: 480px) {
  .react-datepicker__input-container input {
    width: 100% !important;
  }
}

input[type='checkbox'] {
  accent-color: #313c66 !important;
  mix-blend-mode: multiply;
  width: 16px !important;
  height: 16px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #ffffff29;
}

.phone-number-input-container .PhoneInputInput {
  border: none !important;
  outline: none !important;
  background-color: white !important;
}

.phone-number-input-container .PhoneInputCountrySelect {
  background-color: white !important;
}

/* .PhoneInputCountryIconImg{
  border-radius: 5px !important;
  margin-left: 3px !important;
} */

.checkbox-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.checkbox-container input {
  visibility: hidden;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #fccf12; /* You can change the color */
  border-radius: 4px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #f4f4f4;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #fff8db; /* You can change the color */
}

/* Customize the checkmark with a custom SVG */
.checkmark svg {
  fill: black; /* You can change the color */
  height: 13px; /* You can change the size */
  width: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.checkbox-container input:checked ~ .checkmark svg {
  display: block;
}

.scroll-hidden::-webkit-scrollbar {
  /* width: 10px; */
  display: none;
}

.scroll-hidden::-moz-scrollbar {
  /* width: 10px; */
  display: none;
}

.scroll-hidden::-ms-scrollbar {
  /* width: 10px; */
  display: none;
}
