@tailwind base;
@import '../assets/base.css';
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  background-color: white;
}

/* this ccs for edit profile */
.no-border {
  border: none !important;
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

.details-page .swiper-pagination-bullet {
  opacity: 80 !important;
  background-color: white !important;
}

.details-page .swiper-pagination-bullet-active {
  width: 20px !important;
  border-radius: 4px !important;
  background-color: #fccf12 !important;
}
.modal-card .swiper-pagination-bullet {
  opacity: 80 !important;
  background-color: white !important;
}

.modal-card .swiper-pagination-bullet-active {
  width: 20px !important;
  border-radius: 4px !important;
  background-color: #fccf12 !important;
}

.react-datepicker__input-container input {
  padding: 3px !important;
  background-color: white !important;
}
.react-datepicker__input-container input:focus {
  outline: none !important;
}

@media screen and (max-width: 480px) {
  .react-datepicker__input-container input {
    width: 100% !important;
  }
}

input[type='checkbox'] {
  accent-color: #313C66 !important;
  mix-blend-mode: multiply;
  width: 16px !important;
  height: 16px !important;
}
